:root {
  --clr-dark: #404040;
  --clr-navy: #1B1B3A;
  --clr-plum: #693668;
  --clr-shadow: #b4b4b4;
  --clr-silver: #CDCDCD;
  --clr-light-blue: #A7CCED;
  --clr-off-white: #f6f6f4;
  --clr-white: #ffffff;
}

.key {
  /* Size of key */
  width: 55px;
  height: 55px;

  /* Space out the key */
  margin-left: 0.3em;
  margin-bottom: 0.3em;

  /* To center the letters */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Styles */
  background: var(--clr-off-white);
  border-radius: 0.15rem;
  font-size: 1.25rem;
  font-family: 'Lato';
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
  border-radius: 6px
}

.key-pressed {
  background-color: var(--clr-light-blue);
}

.keyboard__row {
  display: flex;
  flex-direction: row;
}

.keyboard {
  /* To contain keyboard rows */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Center at the bottom of the page */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;

  background-color: var(--clr-off-white);
  width: 100%;
  padding-top: 5em;
  /* Fade top part */
  background: linear-gradient(to bottom, rgba(255,0,0,0), var(--clr-off-white) 30%);
}

.game-title {
  /* Styles */
  font-size: 2rem;
  font-family: 'Lustria';
  color: var(--clr-navy);
}

.text-space {
  /* Center on the page */
  text-align: center;
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 50ch;

  /* Styles */
  font-size: 1.25rem;
  font-family: 'IBM Plex Mono';
  color: var(--clr-dark);
  line-height: 1.5;
  text-align: left;

  /* Encorce new line on max width */
  word-wrap: break-word;
  position: absolute;

  /* Go behind header, to appear faded at the top */
  z-index: -1;
}

.cursor {
  animation: blink 2s infinite;
  font-weight: 700;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

.text-space-placeholder {
  opacity: 50%;
  font-style: italic;
}

.game-header {
  height: 12em;

  /* Align game title */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Fade bottom part */
  background: linear-gradient(to top, rgba(255,0,0,0), var(--clr-off-white) 30%); /* or 20%? */
}

body {
  background-color: #ADD8E6;

  margin: 0;
  padding: 0;

  /* Make grid background */
  background-image: linear-gradient(to right, transparent 1px, var(--clr-off-white) 2px, var(--clr-off-white) 100%), 
                    linear-gradient(to bottom, transparent 1px, var(--clr-off-white) 2px, var(--clr-off-white) 100%);
  background-size: 20px 20px; /* Adjust the size of the grid squares */
  background-position: center center;
}
