:root {
  --clr-dark: #404040;
  --clr-navy: #1B1B3A;
  --clr-plum: #693668;
  --clr-shadow: #b4b4b4;
  --clr-silver: #CDCDCD;
  --clr-light-blue: #A7CCED;
  --clr-off-white: #f6f6f4;
  --clr-white: #ffffff;
}

.key {
  /* Size of key */
  width: 60px;
  height: 60px;

  /* Space out the key */
  margin-left: 0.25em;
  margin-bottom: 0.25em;

  /* To center the letters */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Styles */
  background: var(--clr-white);
  border-radius: 0.15rem;
  font-size: 1.25rem;
  font-family: 'Lato';
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
  border-radius: 4px
}

.key-pressed {
  background-color: var(--clr-light-blue);
}

.keyboard__row {
  display: flex;
  flex-direction: row;
}

.keyboard {
  /* To contain keyboard rows */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Center at the bottom of the page */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25%;
}

.game-title {
  /* Position center */
  text-align: center;
  margin-top: 5em;

  /* Styles */
  font-size: 2rem;
  font-family: 'Lustria';
  color: var(--clr-navy);
}

body {
  background-color: var(--clr-off-white);
  margin: 0;
}

.text-space {
  /* Center on the page */
  text-align: center;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 50ch;

  /* Styles */
  font-size: 1.25rem;
  font-family: 'IBM Plex Mono';
  color: var(--clr-dark);

  max-height: 200px;
  word-wrap: break-word;
}

.fade-out {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--clr-off-white) 50%, rgba(255, 255, 255, 0));
  mask-image: linear-gradient(0deg, #000 60%, transparent 100%);
}

.cursor {
  animation: blink 2s infinite;
  font-weight: 700;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

.text-space-placeholder {
  opacity: 50%;
  font-style: italic;
}
