/*
 * Styles for some notable buttons
 */


.solid-btn {
  padding: 1em 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-family: 'Quicksand';
  font-weight: 500;

  user-select: none;

  border-radius: 8px;
  border-style: solid;
  border-width: 1px 2px 4px 2px; /* top right bottom ("shadow") left */

  background: #d5e6f2;
  border-color: #a3cae4;
  color: var(--clr-off-navy);

  transition: background 0.15s ease;
}

.solid-btn-enabled {
  background: #d5e6f2;
  border-color: #a3cae4;
}

.solid-btn-enabled:hover {
  cursor: pointer;
  background: #bcd8eb;
}

.solid-btn-enabled:active {
  background: #a3cae4;
}

.solid-btn-disabled {
  background: #e7e7e7;
  border-color: var(--clr-silver);
  color: #555555;
}

.solid-btn-disabled:hover {
  cursor: not-allowed;
}


/* Standalone-ish buttons that build on solid-btn */
.test-me-btn {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

.submit-guess-btn {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}
