.key {
  /* Size of key */
  width: 55px;
  height: 55px;

  /* Space out the key */
  margin-left: 0.3em;
  margin-bottom: 0.3em;

  /* To center the letters */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Appearance */
  background: var(--clr-off-white);
  border-radius: 0.15rem;
  font-size: 1.25rem;
  font-family: 'Lato';
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
  border-radius: 6px
}

.key-pressed {
  background-color: var(--clr-light-blue);
}
