.landing-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page__btns-container {
  display: flex;
  gap: 0.5em;
  margin: 46px;
}

.landing-page__game-title {
  font-size: 2.5rem;
  font-family: 'Neuton';

  color: var(--clr-dark);

  user-select: none;

  margin: 0;
}

.landing-page__subtitle-text {
  font-size: 1.5rem;
  font-family: 'Neuton';
  font-weight: 300;

  color: var(--clr-dark);

  user-select: none;
}

.landing-page__keys-container {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  margin: 32px;
}

.fade-in-anim {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.fade-out-anim {
  opacity: 1;
  animation: fadeOut 1s ease forwards;
  animation-delay: 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20%); }
  100% { opacity: 1;  transform: translateY(0); }
}

@keyframes fadeOut {
  0% { opacity: 1;  transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20%); }
}
