:root {
  --clr-dark: #404040;
  --clr-navy: #1B1B3A;
  --clr-plum: #693668;
  --clr-shadow: #b4b4b4;
  --clr-silver: #CDCDCD;
  --clr-light-blue: #BCD3F2;
  --clr-off-white: #f6f6f4;
  --clr-light-grey: #e7e7e7;
  --clr-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;

  /* Colour of grid dots */
  background-color: var(--clr-off-white);

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header__game-title {
  font-size: 1.5rem;
  font-family: 'Quicksand';
  font-weight: 500;
  color: var(--clr-navy);
  padding-bottom: 1.5em;
}

.header {
  height: 8em;

  /* Align game title */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Fade bottom part */
  background: linear-gradient(to top, rgba(255,0,0,0), var(--clr-off-white) 30%); /* or 20%? */
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;

  /* To make game-area to occupy all space between the */
  /* game-header and keyboard components */
  flex-grow: 1;

  /* To make Word List appear under the header */
  position: relative;
}

.key {
  /* Size of key */
  width: 50px;
  height: 50px;

  /* Space out the key */
  margin-left: 0.3em;
  margin-bottom: 0.3em;

  /* To center the letters */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Appearance */
  background: white;
  border-radius: 0.15rem;
  font-size: 1.15rem;
  font-family: 'IBM Plex Mono';
  color: var(--clr-dark);
  border-width: 1px 2px 4px 2px; /* top right bottom ("shadow") left */
  border-style: solid;
  border-color: var(--clr-silver);
  border-radius: 12px;

  /* Prevents user from highlighting text on key */
  user-select: none;
}

.key-animation {
    /* For key to appear to pop up, must be hidden first */
    opacity: 0;
    animation: pop-up 0.75s ease forwards;
}

@keyframes pop-up {
  0% {
    opacity: 1;
    transform: scale(0.5, 0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.05, 1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.key-pressed {
  /* Removes the "shadow" */
  border-bottom-width: 2px;

  /* Lowers the key a bit */
  position: relative;
  top: 2px;

  background-color: #E0E0E0;
}

.game-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Create look of a container around the keyboard */
  background-color: var(--clr-off-white);
  width: 100%;
  padding-top: 1em;

  /* Fade top part of the container */
  background: linear-gradient(to bottom, rgba(255,0,0,0), var(--clr-off-white) 10%);
}

.keyboard {
  /* To contain keyboard rows */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Create look of a container around the keyboard */
  background-color: var(--clr-off-white);
  width: 100%;
  padding-top: 2em;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
}

.solid-btn {
  padding: 1em 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-family: 'Quicksand';

  user-select: none;

  border-radius: 6px;
  border-style: solid;
  border-width: 1px 2px 4px 2px; /* top right bottom ("shadow") left */

  background: #d5e6f2;
  border-color: #a3cae4;
  color: var(--clr-off-navy);

  transition: background 0.15s ease;
}

.solid-btn-enabled {
  background: #d5e6f2;
  border-color: #a3cae4;
}

.solid-btn-enabled:hover {
  cursor: pointer;
  background: #bcd8eb;
}

.solid-btn-enabled:active {
  background: #a3cae4;
}

.solid-btn-disabled {
  background: #e7e7e7;
  border-color: var(--clr-silver);
  color: #555555;
}

.solid-btn-disabled:hover {
  cursor: not-allowed;
}

.test-me-btn {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

.submit-guess-btn {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

.key-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.key-hidden-keycap {
  background: #e7e7e7;
  border: 1px solid var(--clr-silver);

  /* Adjusted lengths for borders */
  width: 52px;
  height: 53px;
}

.is-draggable:hover {
  cursor: pointer;
}


/* Word Input */
.word-input__container {
  width: 40ch;
}

.word-input__instr-text {
  color: var(--clr-dark);
  font-size: 1rem;
  font-family: 'Quicksand';
}

.word-input__field-container {
  display: flex;
  height: 50px;
}

.word-input__field {
  background-color: white;
  border-color: var(--clr-silver);
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  color: var(--clr-navy);
  flex: 1;
  font-size: 1.15rem;
  font-family: 'IBM Plex Mono';
  padding: 0.5em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.word-input__cursor {
  animation: blink 2s infinite;
  font-weight: 700;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

.word-input__add-btn {
  background: #d5e6f2;
  border-color: #a3cae4;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px 2px 4px 2px;
  color: var(--clr-off-navy);
  flex-shrink: 0;
  font-family: 'Quicksand';
  font-size: 1.15rem;
  margin-left: 5px;
  transition: background 0.15s ease;
  user-select: none;
  width: 50px;  /* Same as field container height */
}

.word-input__add-btn:hover {
  background: #bcd8eb;
  cursor: pointer;
}

.word-input__add-btn:active {
  background: #a3cae4;
}


/* Word List */
.word-list__container {
  position: absolute;
  right: 0;
  top: 0;
  width: 40ch;
}

.word-list__header-container {
  align-items: center;
  display: flex;
}

.word-list__title {
  color: var(--clr-navy);
  font-size: 1.25rem;
  font-family: 'Quicksand';
  margin: 0;
}

.word-list__count {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ebebeb;
  border-radius: 6px;
  color: var(--clr-dark);
  font-family: 'Quicksand';
  font-size: 1rem;
  margin-left: 1em;
  padding: 0.15em 0.5em;
  user-select: none;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
  position: relative;
  margin-top: 0.75em;
}

.word-list__item {
  background: #ebebeb;
  border: solid 1px transparent;
  border-radius: 6px;
  color: #6D435A;
  display: inline-block;
  font-family: 'IBM Plex Mono';
  font-size: 1rem;
  list-style: none;
  padding: 0.75em 0.75em;
  user-select: none;
  transition: background 0.15s ease;
}

.word-list__item:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.word-list__delete-icon {
  color: #6D435A;
  opacity: 0.5;
  font-weight: bold;
  margin-left: 0.75em;
  margin-right: 0.25em;
  user-select: none;
}


/* Game End Results */
.results__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__answers__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.results__answer__title {
  color: var(--clr-navy);
  font-size: 1.25rem;
  font-family: 'Quicksand';
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.results__score__container {
  margin-top: 2.5em;
}

.results__score-title {
  font-size: 1.25rem;
  font-family: 'Quicksand';
  font-weight: 500;
  text-align: center;
}

.results__score {
  color: var(--clr-dark);
  font-size: 2.5rem;
  font-family: 'Quicksand';
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.results__score-subtitle {
  margin-top: 1.25em;
  font-family: 'Quicksand';
  text-align: center;
}
