body {
  /* Colour of grid dots */
  background-color: #41266960;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.letters-zone {
  display: flex;
  justify-content: center;
  align-items: center;

  /* To make letters-zone to occupy all space between the */
  /* game-header and keyboard components */
  flex-grow: 1;
}

.key {
  background: var(--clr-light-grey);
}

.key-draggable {
  /* Size of key */
  width: 55px;
  height: 55px;

  /* To center the letters */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Appearance */
  background: var(--clr-off-white);
  border-radius: 0.15rem;
  font-size: 1.25rem;
  font-family: 'Lato';
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
  border-radius: 6px;

  /* Prevents user from highlighting text on key */
  user-select: none;

  /* Allow to be moved anywhere on the page */
  position: absolute;

  /* Make key appear on top of other elements */
  z-index: 10;
}

.key-draggable:hover {
  cursor: pointer;
  background: #ffe69e;
}
