.text-space {
  /* Center on the page */
  text-align: center;
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 50ch;

  /* Appearance */
  font-size: 1.25rem;
  font-family: 'IBM Plex Mono';
  color: var(--clr-dark);
  line-height: 1.5;
  text-align: left;

  /* Enforce new line on max width */
  word-wrap: break-word;
  position: absolute;

  /* Go behind header, so text fades at the top */
  z-index: -1;
}

.cursor {
  animation: blink 2s infinite;
  font-weight: 700;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

.text-space-placeholder {
  opacity: 50%;
  font-style: italic;
}
