/*
 * Styles for the Word List
 */


.word-list__container {
  width: 300px;

  /* Position top right */
  position: absolute;
  right: 2em;
  top: 2em;

  border: solid 2px #ebebe9;
  background-color: #fbfbf9;
  border-radius: 6px;

  padding: 1em;
}


/* *---------- Header Styles ----------* */

.word-list__header__container {
  width: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word-list__header__title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Neuton';

  color: var(--clr-dark);

  margin: 0;

  user-select: none;
}

.word-list__header__count {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Neuton';
  font-size: 1.5rem;
  font-weight: 500;

  color: var(--clr-dark);

  user-select: none;
}


/* *---------- Progress Bar Styles ----------* */

.word-list__progress-text__container {
  width: 100%;

  margin-top: 1.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;
}

.word-list__progress-text__title, .word-list__progress-text__coverage {
  font-family: 'Quicksand';
  font-size: 1rem;

  color: var(--clr-dark);

  margin: 0;
}

.word-list__progress-text__title {
  font-weight: 500;
}

.word-list__progress-bar__container {
  width: 100%;
  height: 15px;

  border-radius: 10px;

  background-color: #ededed;

  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.word-list__progress-bar {
  height: 100%;
  width: 0%;

  border-radius: 10px;

  transition: width 0.3s ease;
}


/* *---------- Word List Styles ----------* */

.word-list {
  position: relative;

  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  /* Enable vertical scrolling at a certain point */
  max-height: 50vh;
  overflow-y: auto;
}

.word-list__empty-state {
  font-family: 'Quicksand';
  font-size: 1rem;
  color: #555f61;
  text-align: center;
}

.word-list__item__container {
  width: 100%;

  padding: 0.5em 0.5em;

  font-family: 'Roboto Mono';
  font-size: 1rem;

  border: 1px solid transparent;
  border-radius: 8px;

  color: var(--clr-dark);

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background 0.15s ease, border-color 0.15s ease;
}

.word-list__item__container-selectable:hover {
  border-color: #f0c152;
  background: rgb(252, 241, 206, 0.25);
  cursor: pointer;
}

.word-list__item__container-selected {
  background: #fcf1ce !important;
  border-color: #f0c152;
  color: var(--clr-dark);
}

/* *---------- Word List - Item Styles ----------* */

.word-list__item__word {
  margin: 0;
}

/* Builds on fontawesome icon */
.word-list__item__delete-icon {
  opacity: 0.5;

  font-weight: 800;

  margin-left: 0.75em;
  margin-right: 0.25em;

  transition: opacity 0.15s ease;
}

.word-list__item__delete-icon:hover {
  opacity: 1;
}


/* *---------- Media Queries ----------* */

@media (max-width: 1350px) {
  .word-list__container  {
    width: 250px;
  }
}

@media (max-width: 1240px) {
  .word-list__container  {
    display: none;
  }

  /*
   * TODO: Display some kind of openable/closeable side panel
   * that shows the word list
   */
}
